<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div id="video">
        <h1>柯董的畫面</h1>
        <img id="img">
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script>


    function getImg(){
        $.ajax({
            url:'/video',
            type:'get',
            timeout:10000,
            success:function (data){
                if(data!="error"){
                    $('#img').attr("src","http://127.0.0.1:5000/video");
                }
            }
        });
    }
    setInterval('getImg()',1000); 
</script>
</html>